/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid coral;
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.field {
  text-align: center;
}
.value {
  font-size: 2rem;
  font-weight: bold;
}
.label {
  display: block;
  font-size: 1rem;
}
.snackbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid coral;
  width: 500px;
  height: 300px;
  margin: 0 auto;
}
